joblib==1.2.0
matplotlib==3.6.2
mlxtend==0.21.0
numpy==1.24.1
pandas==1.5.2
Pillow==9.4.0
plotly==5.11.0
scikit_learn==1.2.0
streamlit==1.30.0
streamlit_extras==0.2.5
wordcloud==1.8.2.2
lightgbm==3.3.3
catboost==1.0.6
xgboost==1.7.3
